<h1>Trucks </h1>

<table>
<tr>
<td> id </td>
<td> identifier </td>
<td> gps data </td>
</tr>
<% @trucks.each do |t|%>
<tr>
<td> <%= t.id %> </td>
<td><%= t.identifier %> </td>
<% if t.current_gps_waypoint %>
<% g = t.current_gps_waypoint %>
<td>longitud: <%= g.longitude %>, latitud: <%= g.latitude %> enviado el: <%= g.sent_at %> </td>
<% end %>

</tr>
<% end %>

</table>

<h1> the map </h1>
<div id="map" style='width: 800px; height: 400px;'>


</div>

<script>
handler=Gmaps.build('Google');
handler.buildMap({provider: {}, internal: {id: 'map'}}, function() {
m=handler.addMarkers(<%=raw @gpsPoints.to_json %>);
handler.bounds.extendWith(m);
handler.fitMapToBounds();

});
</script>